/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family:Helvetica,Arial , sans-serif ;
}
.main{
}

.text-white{
    color: #fefefe;
}

.text-center{
    text-align: center;
}

.btn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 16px;
    margin-top: 15px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    border: #ccc;
    cursor: pointer;
}

.pull-right{
    float: right;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-three{
    width: 33.333333%;
}

.header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
    
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
    font-size: 15px;
}

#nav > li > a{
    
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    display: block;
    padding: 0px 24px;
}

#nav li:hover .subnav{
    display: block;
    width: 150%;
}



#nav >li:hover >a,
#nav .subnav li:hover a
{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    line-height: 38px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

.header .search-btn,
.header .menu-mobile {
    float: right;
    padding: 0 21px;
}

.header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

.header .menu-mobile{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.header .menu-mobile:hover{
    background-color: #ccc;
}

.header .menu-mobile:hover .menu-icon{
    color: #000;
}

.header .search-icon,
.header .menu-icon{
    color: #fff;
    font-size: 18px;
    line-height: 46px;
}

.slider{
    position: relative;
     margin-top: 46px;
     padding-top: 50%;
     /* chieu rong bang 50% chieu dai chinh no */
     background: url(https://www.w3schools.com/w3images/ny.jpg) top center / cover no-repeat ;
     
}

.slider .content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.slider .text-head{
    font-weight: 500;
    font-size: 24px;
}

.slider .text-des{
    font-size: 15px;
    margin-top: 25px;
}

.content{

}

.content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

.content .section-head{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

.content .section-sub{
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
    margin-top: 25px;
}

.content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.45;
}

.content .members-list{
    margin-top: 32px;
}

.content .member-name{
    font-size: 15px;
}

.content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour-section */
.tour-section{
    background-color: #000;
    
}

.tickets-list{
    background-color: #ffffff;
    margin-top: 40px;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

/* places */

.places-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-head{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-des{
    margin-top: 15px;
    line-height: 1.4;
}


/* contact */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    display: inline-block;
    width: 30px;
}

.contact-info a{
    color: rgb(54, 54, 241);
    opacity: 0.8;
}

.contact-info a:hover{
    color: rgb(54, 54, 241);
    opacity: 1;
}

.contact-form{
    font-size: 15px;
    transform: translateY(-2px);
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* map section */
.map-section img{
    width: 100%;
}

/* foot section */
.footer{
    padding: 64px 16px;
    text-align: center;
    background-color: #f3f6ee;
}

.footer .socials-list{
    font-size: 22px;
}

.footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

.footer .copyright{
    color: rgba(0, 0, 0, 0.6);
    margin-top: 14px;
    font-size: 16px;
}

.footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

.footer .copyright a:hover{
    color: rgba(0, 0, 0, 0.4);
}

.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.open{
    display: flex !important;
}

.modal-container{
    background-color: #FFF;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-130px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-head{
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.ti-bag{
    margin-right: 14px;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
}

.modal-close:hover{
    cursor: pointer;
    opacity:1;
}

.modal-body{
    padding: 12px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    font-size: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}

.buy{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

.buy:hover{
    cursor: pointer;
    opacity: 0.9;
}

.modal-foot{
    padding: 12px;
    text-align: right;
    font-size: 15px;
}
.modal-foot a{
    color: #2196f3;
}

